body {
    margin: 0;
    font-family:'Times New Roman', Times, serif; 
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  background-color: rgb(221,194,234);  
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.logo {
  font-family: 'Pacifico', cursive;
  font-size: 20px;
  color:#4B0082; 
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}
li {
  margin: 0 10px;
}
a {
  color: #333;
  font-weight: bold;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.btn {
  background-color: #4B0082; 
  color: #fff;
  border: none;
  padding: 20px 20px;
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}




.container {
  max-width: 600px;
  margin: 20px auto;

  
}

form {
 
  background-color:#f0eeee; 
  padding: 20px;
  border-radius: 5px;
  
}

form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333; 
}

form input[type="text"],
form input[type="email"],
form input[type="password"] {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: none;
  box-sizing: border-box;
}

form input[type="text"]:focus,
form input[type="email"]:focus,
form input[type="password"]:focus {
  outline: none;
  border: 1px solid black; 
}



form button[type="submit"] {
  background-color: #4B0082;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  width: 50%; 
  margin-left: 25%; 
  height: 50px; 
  border: none;
  cursor: pointer;
  
}

form button[type="submit"]:hover {
  background-color:#170027;
  transition: background-color 0.3s ease;
}

form p {
  margin-top: 20px;
  text-align: center;
  font-size: 16px;
}
 form a{
  color: #4B0082;
  text-decoration: underline;
 }

 .div_container{
  display: flex;
 }

 .main{
  width: 80%; 
  margin: auto;
 }

 .aside {
  width: 17%;
  background-color: #f7f7f7;
  padding: 10px;
  border: 1px solid #ddd;
}

.aside ul {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
}

.aside ul li {
  margin: 0;
  padding: 5px;
  border-bottom: 1px solid #ddd;

}

.aside ul li:last-child {
  border-bottom: none;
}

.aside ul li a {
  color: #333;
  text-decoration: none;
}

.aside ul li a:hover {
  color: #000;
}


#login-sidebar,
#registration-sidebar {
    display: none;
}

#login-content,
#registration-content {
    display: none;
  }
  
  #login-sidebar.active,
  #login-content.active {
    display: block;
  }
  
  #registration-sidebar.active,
  #registration-content.active {
    display: block;
  }
  